/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
@keyframes rotation{
    100%{
        transform: rotate(360deg);
    }
}
.logo{
    animation: rotation 4s linear infinite
}
.title{
    font-size: 72px;
    color: rgb(246, 194, 20);
}
.sub-title{
    font-size: 36px;
}

.navbar{
    background-color:rgba(0, 0, 0, 0.15);
    height: 125px;
    display: flex;
}
.navbar-container{
    width: 100%;
    max-width: 1920px;
    display: flex;
    justify-content: space-around;
    margin: 0 5%;
}
.navbar-container ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}
.navbar-container ul li{
    text-align: center;
    font-size: 36px;
    margin: 10px;
}
.navbar-container ul li a{
    display: block;
    text-decoration: none;
}
.navbar-container ul li:hover{
    color: rgb(246, 194, 20);
    background-color: rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.navbar-logo{
    height: 64px;
}

.home{
    background-color: grey;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home-logo{
    height: 223px;
}

.about{
    background-color: skyblue;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-logo{
    height: 285px;
}
.text{
    text-align: center;
}

.work{
    background-color: black;
}
.imgtb{
    display: flex;
    flex-direction: column;
    max-height: 340px;
}
.imglr{
    display: flex;
    width: 562px;
}
.work-gambar{
    display: flex;
} */